{% include "meddy1/header.html" %}


  <div class="wrapper wrapper-style1 wrapper-first">
          <div class="container">

            <div class="search">
            <h3> Now you can have all the background information about doctors before choosing one. </h3>
              <select class="form-control field" id="select" style="padding-top: 20px;">
                        <option><b>Choose a Speacialty...</b></option>
                        <option>Dermatologist</option>
                        <option>Dentist</option>
                        <option>Ear, Nose and Throat (ENT)</option>
                        <option>Eye Doctor</option>
                        <option>Psychiatrist</option>
                        <option>Orthopedist</option>
                      </select>
              <a class="btn btn-primary" href="./form.html">Find Doctors</a>
            </div>

            <a class="arrow-wrap" href="#content">
                <span class="arrow"></span>
              </a>
          </div>
      <a class="arrow-wrap" href="#content">
        <span class="arrow"></span>
      </a>
      </div>

      <section id="content">
      <div class="wrapper wrapper-style2">
        <div class="container">
          <div class="imgwrap">
              <div class="feature1">
                <img src="./images/location.png">
                <h2> Find Location </h2>
                <p>Find the best doctors closest to you. </p>
              </div>

              <div class="feature3">            
                <img src="./images/waiting.png">
                <h2> No waiting </h2>
                <p>Find out the average waiting time for each doctor and plan ahead!</p>
              </div>

              <div class="feature2">
                <img src="./images/review.png">
                <h2> Doctor Reviews </h2>
                <p>Learn what the community has to say about their experiences with the doctors.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>




{% include "meddy1/footer.html" %}
