{% include "meddy1/header.html" %}

<br>
<br>
<br>

<div class="jumbotron">
	<form method="post" action="{% url 'django.contrib.auth.views.login'  %}" class="form-horizontal">
		<fieldset>
			{% if form.errors %}
				<p>Your username and password don't match our records. Please try again.</p>
			{% endif %}
			<div class="form-group">
				<label for="username" class="col-lg-2 control-label">Username: </label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="username" placeholder="Username" name="username">
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputPassword" class="col-lg-2 control-label">Password</label>
				<div class="col-lg-10">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
				</div>
			</div>
		</fieldset>
		
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" class="btn btn-info">Submit</button>
				<a href="/forgotpassword" class="btn btn-info">What was my Password?</a>
			</div>
		</div>
		{% csrf_token %}
	</form>
</div>

{% include "meddy1/footer.html" %}
